.content,
.content-nested {
	background-color: #006cfa;
	border: 1px solid white;
	min-height: 50px;
	line-height: 50px;
	color: white;
	text-align: center;
	padding: 10px;
}

section {
	margin-bottom: 10px;
}
