.content,
.content-nested {
	background-color: #006cfa;
	border: 1px solid white;
	min-height: 50px;
	color: white;
	text-align: center;
	/* padding: 10px; */
	padding: 15px;
}

.content-nested {
	background-color: #00e165;
	border-color: #006cfa;
	height: 30px;
	/* line-height: 30px */
}

section {
	margin-bottom: 10px;
}
